.main {
  display: grid;
  flex-direction: row;
  grid-template-columns: 244px 1fr;
}
.rightSideBar {
  left: 69.58vw;
  flex-shrink: 0;
  max-width: 319px;
  position: absolute;
  right: 0px;
  width: 100%;
  margin-bottom: 30px;
  padding: 0px;
  top: 0px;
  padding-top: 30px;
}
.leftMenu{
  grid-column: 1;
}
.body{
  grid-column: 2;
}