.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  width: 500px;
  height: 525px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  flex: none;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1.5px solid rgba(221, 221, 221);
}

.body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text {
  margin: 20px 0;
  line-height: 25px;
  font-weight: 400;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 149, 246);
  color: white;
  width: 140px;
  height: 32px;
  border-radius: 10px;
  text-align: center;
  line-height: 25px;
  font-weight: 600;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.button:hover {
  background-color: #1877f2;
}

.finishing {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  width: 820px;
  height: 525px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.finishingBody {
  flex: none;
  display: flex;
  flex-direction: row;
}
.left {
  position: sticky;
  top: 0;
  height: 100%;
  width: 486px;
}
.post {
  width: 486px;
  height: 486px;
  background-size: cover;
}
.right {
  background-color: white;
  flex: 1;
  height: 486px;
  position: relative;
  overflow-y: scroll;
}
.profile {
  display: flex;
  align-items: center;
  height: 60px;
}
.profilePhoto {
  margin: 0 12px;
  background-position: center;
  width: 28px;
  height: 28px;
  background-size: 28px 28px;
  border-radius: 50%;
}
.username {
  line-height: 18px;
  font-size: 14px;
  word-wrap: break-word;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.caption {
  position: relative;
}
.captionText {
  position: absolute;
  padding: 0 16px;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 16px;
  tab-size: 1;
  width: calc(100% - 32px);
  height: 212px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.captionText::placeholder {
  color: rgba(216, 216, 216);
}
.captionTextLimit {
  position: absolute;
  right: 20px;
  bottom: 0;
  font-size: 12px;
  color: #c7c7c7;
}
.location {
  margin-top: 12px;
  border-top: 1px solid rgba(221, 221, 221);
  display: flex;
  align-items: center;
  position: relative;
}
.locationText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 32px);
  height: 38px;
  line-height: 38px;
  margin: 2px 0;
  outline: none;
  padding: 0 16px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.locationSvg{
  position: absolute;
  right: 12px;
}
.accessibility {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(221, 221, 221);
}
.advancedSettingTitle {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(221, 221, 221);
  border-bottom: 1px solid rgba(221, 221, 221);
}
.settingsText {
  user-select: none;
  display: flex;
  align-items: center;
  width: calc(100% - 32px);
  height: 38px;
  line-height: 38px;
  margin: 4px 0;
  outline: none;
  padding: 0 16px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.arrow {
  transform: scale(-1);
  margin-right: 12px;
}
.advancedSettings {
  width: var(100%-32px);
  padding: 0 16px;
  margin-bottom: 50px;
}

.advancedSettingsHeader {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.advancedSettingsTitle{
  width: 200px;
}
.advancedSettingsText {
  padding: 12px 0;
  font-size: 12px;
  line-height: 16px;
  color: rgb(115, 115, 115);
  font-weight: 400;
  text-align: left;
  width: 290px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.advancedSettingsCheckBox{
  position: absolute;
  top: 0;
  right: 0;
}